.ArchNode {
  min-width: 100px;
  min-height: 50px;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: white;
}
.ArchNode.circle {
  border-radius: 50%;
}
.ArchNode.cylinder {
  --r: 20px;
  /* whatever values/units you want */
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), var(--color-border-grey) 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    white;
  border-radius: 100% / calc(var(--r) * 2);
}

.ArchNode .fileIndicator {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.ArchNode.circle .fileIndicator {
  top: 15%;
  right: 15%;
}
.ArchNode.cylinder .fileIndicator {
  top: 40px;
  right: 5%;
}
.ArchNode .fileIndicator.missing {
  color: red;
}

/** Group styling **/

.ArchNode.group {
  background-color: color-mix(in srgb, var(--color-bg-grey) 25%, transparent);
}
.ArchNode.group.target {
  box-shadow: 0px 0px 8px color-mix(in srgb, var(--color-bg-grey) 15%, black);
}
.ArchNode.group .label {
  position: absolute;
  top: 5px;
}
.ArchNode.group.cylinder .label {
  position: absolute;
  top: 10px;
}
.ArchNode.group.circle .label {
  position: absolute;
  top: 20px;
}

div.ArchHandle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 0;
  transform: none;
}
