.NodeEditor {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid var(--color-border-grey);
  border-radius: 5px;
  background-color: white;
  gap: 2px;
}

.NodeEditor .buttons {
  margin-top: 10px;
}

.NodeEditor label {
  font-size: 0.7em;
  color: var(--color-text-grey);
}

.NodeEditor input {
  border: 1px solid var(--color-border-grey);
  padding: 5px 0px;
  text-indent: 5px;
}

.NodeEditor input.error {
  color: red;
}
