:root {
  --color-text-grey: #171717;
  --color-border-grey: #ececec;
  --color-bg-grey: #f6f6f6;
  --color-bg-dark-grey: #efefef;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** Mods **/

.EasyMDEContainer .editor-toolbar {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.EasyMDEContainer .CodeMirror.CodeMirror-wrap {
  border: 0;
  border-top: 1px solid var(--color-border-grey);
  border-radius: 0;
}

.react-flow__controls {
  display: flex;
  flex-direction: column-reverse;
}

/** Custom Elements **/

.archButton {
  color: var(--color-text-grey);
  background-color: white;
  border: 1px solid var(--color-border-grey);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
